.btn {
    background-color:$mainBlue;
    color: #FFF;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;

    &--margin-top {
        margin-top: 10px;
    }

    &--orange {
        background-color: $mainOrange;
    }

    &--large {
        padding: 1.1rem 1.9rem;
        border-radius: 30px;
        @mixin atSmall {
            font-size: 1.25rem;
            padding: 1rem 1.rem;
        }
    }

    &--larger {
        border-radius: 30px;
        padding: 1.1rem 2.5rem;
        @mixin atSmall {
            font-size: 1.25rem;
            padding: 1rem 1.rem;
        }
    }

    &--footer {
        position: relative;
        transform: translateY(-140px);

        @mixin atSmall {
            transform: translateY(-120px);
        }

        @mixin atMedium {
            transform: translateY(-190px);
        }

        @mixin atLarge {
            transform: translateY(-120px);
        }

        @mixin atLarger {
            transform: translateY(-160px);
        }
    }

    &--submit-form-contact {
        
    }

}