.content-box {
    width: 100%;
    min-height: 600px;
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 3px 45px 0 rgba(63,92,117,0.1);
    padding-top: 10px;
    max-width: 1300px;
    position: relative;
    top: -230px;

    &--bg-lightgray {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 3px 45px 0 rgba(63,92,117,0.2);
    }

    &--form {

        padding-right: 25px;
        padding-left: 50px;
        @mixin atSmall{
            padding-right: 25px;
            padding-left: 60px;
        }

        @mixin atMedium{
            padding-right: 0px;
            padding-left: 60px;
        }

        @mixin atMediumL{
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}