.lottie-player {
    width: 180px; 
    height: 180px;
    display: grid;
    margin-left: auto;
    margin-right: auto;

    @mixin atPhoneSize {
        width: 300px; 
        height: 300px;
    }
}

.form {

    &--image {
        position: relative;
        transform: translateX(0px);
        background-color: white;


        
        @mixin atMedium {
            transform: translateX(-8px);
        }

        @mixin atMediumSlightlyLarger {
            transform: translateX(10px);
        }
        
        @mixin atLarge {
            transform: translateX(50px);
        }

        @mixin atLarger {
            transform: translateX(60px);
        }

    }


    &--control-wrap{
        position: relative;
    }


    &--group{
            border: 0;
            height: auto;
            padding: 13px 15px;
            border-radius: 4px;
            background-color: #faf6f6;
            color: #20202C;
            width: 55%;

            @mixin atSmall {
                width: 60%;
            }

            @mixin atSmallL {
                width: 65%;
            }

            @mixin atMedium {
                width: 55%;
            }

            @mixin atMediumL {
            width: 100%;
            }

    }

    /*FORM STYLES*/
    form {
        display: grid;
        grid-template-columns: 1fr;
    }

    p{
        font-weight: 300;
        line-height: 1.65;
        margin: 0 0 0 0;

        @mixin atSmall {
            font-size: 1.05rem;
        }
    }

    &--input{
        margin-bottom: 10px;
        margin-left: 5px;

        input[type=text]:focus, input[type=email]:focus {
            outline: rgba(56,179,186,0.3) solid 3px;
        }
        
        textarea:focus {
            outline: rgba(56,179,186,0.3) solid 3px;
        }

    }
}

.form form button:hover, .form form button:focus{
    background-color: #f5d388;
    border: 2px solid #f5d388;
    color: $logoOrangelight;
    outline: none;
}