.modal-overlay {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;

    &--show-modal{
        opacity: 1;
        pointer-events: auto;
    }
}


.modal {

    &--box{

        z-index: 10001;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        width: 30%;
        height: 30%;
        min-height: 400px;
        background-color: #fff;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 300px;
        opacity: 0;

        &--terms {
            min-height: 500px;
        }
        
        &--show{
        opacity: 1;
        }

        @mixin atSmall {
            min-width: 450px;
        }
    }
   
    &--image{
        min-width: 100px;
        min-height: 100px;
    }

    &--title {
        color: rgba(0,0,0,.5);
        font-weight: 600;
        text-transform: none;
        position: relative;
        display: block;
        padding: 13px 16px;
        font-size: 27px;
        line-height: normal;
        text-align: center;
        margin-bottom: 0;
    }

    &--text {
        font-weight: 300;
        line-height: 1.65;
        margin: 0 0 1.8rem 0;
        color: rgba(0,0,0,.64);
        
        @mixin atSmall {
            font-size: 1.05rem;
        }


    }

    &--button {
        background-color: #7cd1f9;
        color: #fff;
        border: none;
        box-shadow: none;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 24px;
        margin: 0;
        cursor: pointer;
        outline: none;
        &--cancel {
            color: #555;
            background-color: #efefef;
        }

    }

}

.button--footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    @mixin atSmall {
        column-gap: 40px;
    }
}

.open {
    animation: opened 0.5s forwards;
}

.close {
    animation: close 0.5s forwards;
}

@keyframes opened {
    0% {
        transform: translate(-50%,-50%) scale(0);
    }
    50% {
        transform: translate(-50%,-50%) scale(1.2);
    }
    70% {
        transform: translate(-50%,-50%) scale(0.95);
    }
    95% {
        transform: translate(-50%,-50%) scale(1.1);
    }
    100% {
        transform: translate(-50%,-50%) scale(1);
    }    
}

@keyframes close {
    100% {
        transform: translate(-50%,-50%) scale(0);
    }
    50% {
        transform: translate(-50%,-50%) scale(1.2);
    }
    30% {
        transform: translate(-50%,-50%) scale(0.95);
    }
    0% {
        transform: translate(-50%,-50%) scale(1);
    }    
}
