.page-section {

    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--orange{
        background-color: $mainOrange;
        color:#FFF;

        @mixin atMedium {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
    }
}