.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;

    @mixin atSmall {
        font-size: 3.75rem;
    }
    strong{
        font-weight: 500;
    }

    &__orange {
        color: $mainOrange;
        @mixin atMedium {
            text-shadow: -1px 0 #4b2510, 0 1px #4b2510, 1px 0 #4b2510, 0 -1px #4b2510;
        }
    }

    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;

        @mixin atSmall {
            position: relative;
            margin-right: .5rem;
            margin-left: 0;
            margin-bottom: 0rem;
            display: inline-block;
        }
    }
}