.site-header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    @mixin atMedium {
        position: fixed;
        background-color: rgba(213,149,65,.45);

        &--dark {
            background-color: rgba(153, 86, 32, 0.90);
        }
    }


    &__menu-icon-border {
        width: 100%;
        height: 40px;
        background-color: rgba(213, 149, 65, 0.45);
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        transition: background-color .2s ease-out, height .3s ease-out;


        @mixin atMedium {
            display: none;
        }

        &--is-expanded {
            background-color: rgba(153, 86, 32, 0.85);
            height: 300px;

            @mixin atPhoneSize {
                height: 205px;
            }
        }
    }

    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: white;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: white;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: white;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before{
            transform: rotate(45deg) scaleX(1.25);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after{
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &__btn-container {
        @mixin atMedium {
            float: right;
        }
    }

    &__logo {
        position: absolute;
        top: 0px;
        left: 50%;
        transition: transform .3s ease-out, top .3s ease-out;
        transform: translateX(-50%);
        background-color: $mainOrange;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 0 0 20px 20px;
        z-index: 3;
        width: 110px;

        @mixin atPhoneSize {
            width: 160px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        @mixin atMedium {
            width: 200px;
            left: auto;
            transform: translateX(0);
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;

            .site-header--dark & {
                transform: scale(.63);
                top: -20px;
                border-radius: 0 0 0 0;
            }
        }
    }

    &__menu-content {
        opacity: 0;
        transform: scale(1.2);
        padding-top: 100px;
        text-align: center;
        transition: all .15s ease-out;
        position: relative;
        z-index: -10;
        @mixin atMedium {
            opacity: 1;
            z-index: 2;
            padding-top: 0;
            transform: scale(1);
        }

        &--is-visible {
            z-index: 2;
            opacity: 1;
            transform: scale(1);
        }
    }
}